{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Discover my professional journey in Information Technology, where I focus on delivering digital user-centered solutions and continuously enhance my skills to stay at the forefront of the tech industry.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
           
            
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item">
              <p> <br>As an Information Technology professional with a solid background in web development, I focus on creating digital solutions that prioritize the user experience while ensuring functionality and impact. I’m passionate about continuous learning and always seek opportunities to grow, both personally and professionally, as I contribute to the tech community.</p>
            </div><!-- End Resume Item -->


            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4> Bachelor's in information technology (BIT) </h4>
              <h5>2021 to 2025</h5>
              <p><em>Jomo Kenyatta University of Agriculture and Technology (JKUAT)</em></p>
              <p>Developing a strong foundation in IT principles, programming, and problem-solving skills, preparing for a career in technology and innovation. Gaining hands-on experience through coursework and projects in areas such as web development, data science, and cybersecurity.</p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
              <h4>Kenya Certified Secondary Education (KCSE)</h4>
              <h5>2016 - 2019</h5>
              <p><em>Lukenya Girls Secondary school</em></p>
              <p>Achieved solid academic grounding in sciences, mathematics, and humanities, contributing to strong analytical and critical thinking skills, alongside active participation in extracurricular activities.</p>
            </div><!-- End Resume Item -->
            
            <div class="resume-item">
              <h4>Kenya Certified Primary Education (KCPE)</h4>
              <h5>2005 - 2015</h5>
              <p><em>Fountain Junior Academy </em></p>
              <p>Completed primary education with emphasis on foundational knowledge in various subjects, fostering discipline, curiosity, and a passion for continuous learning.

              </p>
            </div><!-- End Resume Item -->
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
           
            <div class="resume-item">
              <h4>Social Media and Communications Intern</h4>
              <h5>May to July 2024</h5>
              <p><em>Kenya Society for the Protection and Care of Animals(KSPCA)</em></p>
              <ul>
                <li>Managed and updated social media platforms to drive audience engagement.</li>
                <li>Created and scheduled posts to enhance interaction and visibility.</li>
                <li>Assisted in drafting and distributing communication materials.
                </li>
                <li>Monitored social media metrics and analyzed performance reports.
                </li>
                <li>Supported various communication projects and initiatives.
                </li>
              </ul>
            </div><!-- End Resume Item -->
           
            <div class="resume-item">
              <h4>Remote Intern</h4>
              <h5>July to September 2020
              </h5>
              <p><em>Funke Science</em></p>
              <ul>
                <li>Managed and updated social media platforms with engaging content.</li>
                <li>Created and edited visual content for social media posts.
                </li>
                <li>Completed remote tasks as assigned by the supervisor.
                </li>
                <li>Conducted interviews and completed questionnaires for data collection.
              </ul>
            </div><!-- End Resume Item -->

            <div class="resume-item">
              <h4>Office Assistant</h4>
              <h5>January to June 2020</h5>
              <p><em>Chuma Mbili Properties
              </em></p>
              <ul>
                <li>Greeted and directed visitors to appropriate departments or personnel.</li>
                <li>Managed payment records and distributed receipts.</li>
                <li>Performed clerical tasks, including document filing and photocopying.</li>
              </ul>
            </div><!-- End Resume Item -->

          

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

  {% endblock %}